.Social {
    padding: 10px;
  }
@media screen and (max-width: 600px) {
    .Social {
        margin: 0;
        padding: 5px;
    }
    .Social img {
        width: 35px;
        height: auto;
    }
}