@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

.App {
  text-align: center;
  margin: 18px;
  box-shadow:  0 2px 5px #ccc;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #282c34;
  color: #ccc;
  font-size: calc(10px + 2vmin);
  font-family: "Poppins";
  line-height: 1.4;
}
.About {
  max-width: 80%;
  margin: 15px auto;
}
.Social {
  padding: 10px;
}
p {
  text-align: justify;
}